* {
  margin: 0;
}
html, body {
  height: 100%;
}
.common-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+57,1e5799+57,7db9e8+92&0+25,1+100 */
background: -moz-linear-gradient(top, rgba(30,87,153,0) 25%, rgba(30,87,153,0.43) 57%, rgba(125,185,232,0.89) 92%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(30,87,153,0) 25%,rgba(30,87,153,0.43) 57%,rgba(125,185,232,0.89) 92%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(30,87,153,0) 25%,rgba(30,87,153,0.43) 57%,rgba(125,185,232,0.89) 92%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

#forLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.common-wrapper:after {
  content: "";
  display: block;
}
.common-footer, .common-wrapper:after {
  height: 50px;
}
.common-footer {
/*  background: #C0BFBC;*/
  color: #2592D0;
}

.common-footer #footer {
    line-height: 50px;
}

/** Login Page **/
#login-wrapper {
    margin: -50px auto 0;
    min-height: 80px;
    width: 300px;
}

.common-wrapper #logo {
    margin: 0 auto;
    width: 280px;
}

.common-wrapper #logo > img {
    width: 280px;
}

#login-wrapper #content {
    min-height: 100px;
    margin-top: 10px;
}

/** Navigation **/
header {
    border-bottom: 1px solid #DEDEDE !important;
}
.navbar-brand {
/*    padding-top: 0px;*/
}
.navbar-brand > img {
    max-width: 300px !important;
}

.navbar {
/*    min-height: 90px;*/
    margin-bottom: 10px;
    border-radius: 0px;
}
.navbar-collapse {
/*    margin-top: 2%;*/
}
.nav {
    margin-top: 1%;
}
/** Loader **/
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Order */
#order-header {
    border-top: 1px solid #2592D0;
    border-bottom: 1px solid #2592D0;
}

#order-header h3 {
    margin-top: 10px;
}

.btn-full {
    widh: 100%;
}
